global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'telco_churn_api'
    static_configs:
      - targets: ['host.docker.internal:8080']
        labels:
          service: 'telco-churn-api'
          environment: 'development'
  
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  
  - job_name: 'node'
    static_configs:
      - targets: ['node-exporter:9100']

rule_files:
  - "alert.rules.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets: []
          # - alertmanager:9093